<% if universe %>
<div class="card">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col text-center">
        <%= link_to universe, style: "font-size: 3rem; color: #{universe.color}" do %>
          <span style=><%= universe.name[0] %></span>
        <% end %>
      </div>
      <div class="col">
        <%= link_to universe.name, universe %>
      </div>
    </div>
  </div>
</div>
<% end %>
