<%= simple_form_for(universe) do |f| %>
  <% if universe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(universe.errors.count, "error") %> prohibited this universe from being saved:</h2>

      <ul>
        <% universe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-9">
      <%= f.input :name %>
    </div>
    <div class="col-md-3">
      <%= f.input :color, as: :color %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= f.input :description %>
    </div>
    <div class="col-md-6">
      <%= f.association :owner, as: :radio_buttons, collection: universe.owner_candidates.map{|u| [u.email, u.id]} %>
    </div>
  </div>

  <%= f.button :submit, class: 'btn-primary' %>
<% end %>
