<%= simple_form_for([subrelation.universe, subrelation]) do |f| %>
  <% if subrelation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subrelation.errors.count, "error") %> prohibited this subrelation from being saved:</h2>

      <ul>
        <% subrelation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.input :label %>
  <%= f.input :format, as: :select, collection: Heliosystem::Subrelation::FORMATS %>
  <%= f.input :parent, as: :select, collection: Heliosystem::Subrelation::APPS %>
  <%= f.input :child, as: :select, collection: Heliosystem::Subrelation::APPS %>

  <%= f.button :submit, 'Save Custom Relationship', class: 'btn-primary' %>

<% end %>
