<%= simple_form_for([organization.universe, organization]) do |f| %>
  <% if organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
        <% organization.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :color, as: :color %>

  <div class="row">
    <div class="col-md-8">
      <%= f.association :people, as: :check_boxes, collection: current_universe.people %>
    </div>
    <div class="col-md-4">
      <%= f.input :accounts_enabled %>
      <%= f.input :pages_enabled %>
      <%= f.input :timeclocks_enabled %>
    </div>
  </div>

  

  <%= f.submit 'Save Organization', class: 'btn btn-primary' %>
<% end %>
