<h1><%= current_universe.name %> Organizations</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Organization</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @organizations.each do |org| %>
      <tr>
        <td><%= link_to org.name, [org.universe, org] %></td>
        <td><%= link_to 'Edit', edit_universe_organization_path(org, universe_id: org.universe.slug), class: 'btn btn-sm btn-warning' %></td>
        <td><%= link_to 'Destroy', [org.universe, org], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Create New Organization', new_universe_organization_path(current_universe) %>
