<%= simple_form_for([current_universe, current_organization, setting].filter(&:present?), local: true, wrapper: 'inline_form') do |f| %>
  <div class="form-row align-items-center">
    <div class="col text-right">
      <%= setting_icon(setting) %>
    </div>
    <%= f.input :key, placeholder: 'Key', wrapper_html: {class: 'col-md-4 col-5'}, input_html: {disabled: true} %>
    <%= f.input :value, placeholder: 'Value', wrapper_html: {class: 'col-md-4 col-5'}, input_html: {disabled: true} %>

    <div class="col col-md-3 text-center text-md-left"></div>
  </div>
<% end %>
