<h1><%= current_universe.name %> Custom Fields</h1>

<div class="row">
  <div class="col-md-6 col-lg-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>App</th>
          <th>Label</th>
          <th>Format</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @subfields.each do |subfield| %>
          <tr>
            <td><%= subfield.app %></td>
            <td><%= subfield.label %></td>
            <td><%= subfield.format %></td>

            <td><%= link_to 'Edit', edit_universe_subfield_path(subfield, universe_id: subfield.universe.slug), class: 'btn btn-sm btn-warning' %></td>
            <td><%= link_to 'Destroy', [subfield.universe, subfield], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-6 col-lg-4">
    <h2>Add a New Custom Field</h2>
    <%= render partial: 'form', locals: {subfield: current_universe.subfields.build} %>
  </div>
</div>
