<%= simple_form_for([current_universe, current_organization, person].filter(&:present?), local: true) do |f| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-8">
      <%= f.association :organizations, as: :check_boxes %>
      <hr>
      <%= render partial: 'heliosystem/partials/customFormFields', locals: {form: f, app: 'person', model: person} %>
      <hr>
      <%= render partial: 'heliosystem/partials/taggableFormFields', locals: {form: f, model: person} %>
    </div>
    <div class="col-md-4">
      <% if current_user.sysop || current_user == person.user || current_user == current_universe.owner %>
        <% if person.persisted? %>
          <%= f.simple_fields_for :user do |sf| %>
            <%= sf.input :email, as: :email %>
            <%= sf.input :password %>
            <%= sf.input :password_confirmation %>
          <% end %>
        <% else %>
        <% end %>
        <% if current_user.sysop || current_user == current_universe.owner %>
          <%= f.association :user, as: :select, collection: Heliosystem::User.all.map{|u| ["#{u.name} [#{u.email}]", u.id]}, required: false %>
          <%= f.input :admin %>
        <% end %>
    </div>
  </div>
  <% end %>

  <%= f.button :submit, 'Save Person', class: 'btn-primary' %>
<% end %>
