<h1>Editing Person</h1>

<%= render 'form', person: @person %>

<%=
if current_organization
  link_to 'Back', universe_organization_person_path(@person, universe_id: @person.universe.slug, organization_id: current_organization.slug)
else
  link_to 'Back', universe_person_path(@person, universe_id: @person.universe.slug)
end
%>
