<%= form.simple_fields_for :subfield_values do |sf| %>
  <% current_universe.subfields.where(app: app).each do |field| %>
    <%= sf.input field.label, as: field.format, required: false, include_blank: true, input_html: {value: model.subfield_values.find_by(subfield_id: field.id)&.value} %>
  <% end %>
<% end %>
<%= form.simple_fields_for :subrelation_pairs do |sr| %>
  <% current_universe.subrelations.where(parent: app).each do |field| %>
    <%= sr.input field.label, as: (field.format == 'one-to-one' ? :radio_buttons : :check_boxes), required: false, include_blank: true, collection: current_universe.send(field.child.pluralize.to_sym).all, checked: field.subrelation_pairs.map{|p| p.child_id} %>
  <% end %>
<% end %>
