<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
  <%= link_to root_path, class: 'navbar-brand' do %><%= image_tag 'heliosystem/heliosystem-inverse.png' %><% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if current_user %>
        <% breadcrumbs.each do |link, label| %>
          <li class="navbar-text">
            <i class="fas fa-chevron-right"></i>
          </li>
          <li class="nav-item">
            <%= link_to label, link, class: 'nav-link' %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <ul class="navbar-nav">
      <% if flash.empty? %>
        <li class="navbar-text">
          <i class="fas fa-bell"></i> &nbsp; &nbsp;
        </li>
      <% else %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            (<%= flash.count %>) &nbsp; <i class="fas fa-bell"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right flash-dropdown" aria-labelledby="navbarDropdown">
            <% flash.each do |k, msg| %>
              <div class="alert alert-dark">
                <%= msg %>
              </div>
            <% end %>
          </div>
        </li>
      <% end %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if current_user %>
            <i class="fas fa-user"></i>
          <% else %>
            <i class="far fa-user-circle"></i>
          <% end %>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <% if current_user %>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <%= link_to 'Sign Out', destroy_session_path, class: 'dropdown-item' %>
          <% else %>
            <%= link_to 'Sign Up', root_path, class: 'dropdown-item' %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>
