<%= action_link [current_universe, current_organization], icon('tachometer-alt'), "#{current_organization.name} Dashboard", current_organization.color %>
<%= action_link universe_organization_people_path(current_organization, universe_id: current_universe.slug), icon('user-friends'), "People", current_organization.color %>

<%= action_link universe_organization_accounts_path(current_organization, universe_id: current_universe.slug), icon('dollar-sign'), "Accounts", current_organization.color if current_organization.accounts_enabled %>
<%= action_link universe_organization_pages_path(current_organization, universe_id: current_universe.slug), icon('copy'), "Pages", current_organization.color if current_organization.pages_enabled %>
<%= action_link universe_organization_timeclocks_path(current_organization, universe_id: current_universe.slug), icon('user-clock'), "TimeClocks", current_organization.color if current_organization.timeclocks_enabled %>

<%= action_link universe_organization_tags_path(current_organization, universe_id: current_universe.slug), icon('tags'), "Tags", current_organization.color %>

<% if current_person.admin || current_person.user.sysop %>
<%= modal_action_button 'organizationAdminModal', icon('wrench'), "#{current_organization.name} Administration", current_organization.color %>
  <% content_for :modals do %>
    <div class="modal fade" id="organizationAdminModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><%= current_organization.name %> Administration</h5>
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col">
                <p><%= link_to "#{current_organization.name} Setup", edit_universe_organization_path(current_organization, universe_id: current_universe.slug) %></p>
                <p><%= link_to "Organization Settings", universe_organization_settings_path(current_organization, universe_id: current_universe.slug) %></p>
              </div>
              <div class="col">

              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
