<p id="notice"><%= notice %></p>

<h1>Tags</h1>

<div>
<% @tags.each do |tag| %>
  <%= link_to [current_universe, current_organization, tag].filter(&:present?) do %>
    <% render partial: 'tag', locals: {tag: tag} %>
  <% end %>
<% end %>
</div>

<br>

<%= link_to 'Add a New Tag', current_organization ? new_universe_organization_tag_path(current_organization, universe_id: current_universe.slug) : new_universe_tag_path(current_universe), class: 'btn btn-primary btn-block mb-3' %>
