<div class="form-row account-row">
  <div class="col-2">
    <tt><%= link_to account.code, [current_universe, current_organization, account] %></tt>
  </div>
  <div class="col-6">
    <%= ("&nbsp;" * (account.depth * 4)).html_safe %><%= link_to account.name, [current_universe, current_organization, account] %>
  </div>
  <div class="col-4">
    <tt><%= ("&nbsp;" * (account.depth * 4)).html_safe %><%= account.balance.format %></tt>
  </div>
</div>
<% account.children.each do |acc| %>
  <%= render partial: 'accountRow', locals: {account: acc} %>
<% end %>
