<% if model %>
<div class="card card-default mb-2">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col text-center">
        <%= link_to [model.universe, model.organization, model], style: "font-size: 3rem; color: #{model.universe.color}" do %>
          <span style="font-size: 80%"><tt><%= model.code %></tt></span>
        <% end %>
      </div>
      <div class="col">
        <p><%= model.name %></p>
        <p><%= model.balance.format %></p>
      </div>
    </div>
  </div>
</div>
<% end %>
