<h1>Editing Account</h1>

<%= render 'form', account: @account %>

<%= link_to 'Show', [current_universe, current_organization, @account] %> |
<%= link_to 'Back', universe_organization_accounts_path(universe_id: current_universe.slug, organization_id: current_organization.slug) %>
