<p id="notice"><%= notice %></p>

<h1>Accounts</h1>

<% @accounts.each do |account| %>
  <%= render partial: 'accountRow', locals: {account: account} %>
<% end %>

<br>

<%= link_to 'New Account', new_universe_organization_account_path(universe_id: current_universe.slug, organization_id: current_organization.slug) %>
