<h1><%= @account.name %> [<%= @account.code %>]</h1>


<%= render partial: 'accountRow', locals: {account: @account} %>

<br>

<%= link_to 'Edit', edit_universe_organization_account_path(@account, universe_id: current_universe.slug, organization_id: current_organization.slug) %> |
<%= link_to 'Back', universe_organization_accounts_path(universe_id: current_universe.slug, organization_id: current_organization.slug) %>
