<%= simple_form_for([current_universe, current_organization, page], local: true) do |f| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
        <% page.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-8">
      <%= f.input :title %>
    </div>
    <div class="col-md-4">
      <%= f.input :slug %>
    </div>
  </div>
  
  <%= f.input :content %>

  <%= render partial: 'heliosystem/partials/customFormFields', locals: {form: f, app: 'page', model: page} %>
  <hr>
  <%= render partial: 'heliosystem/partials/taggableFormFields', locals: {form: f, model: page} %>

  <%= f.button :submit, 'Save Page', class: 'btn-primary' %>
<% end %>
