<h1>Editing Page</h1>

<%= render 'form', page: @page %>

<%= link_to 'Show', [current_universe, current_organization, @page] %> |
<%= link_to 'Back', universe_organization_pages_path(universe_id: current_universe.slug, organization_id: current_organization.slug) %>
