<p id="notice"><%= notice %></p>

<h1><%= current_organization.name %> Pages</h1>

<div class="row">
  <div class="col col-md-4 col-lg-3">
    <%= link_to 'Add a New Page', new_universe_organization_page_path(current_organization, universe_id: current_universe.slug), class: 'btn btn-primary btn-block mb-3' %>
    <h2>Search and Filter</h2>
  </div>
  <div class="col col-md-8 col-lg-9">
    <div class="row">
      <% @pages.each do |page| %>
        <div class="col col-md-4 col-lg-3">
          <%= render partial: 'card', locals: {model: page} %>
        </div>
      <% end %>
    </div>
  </div>
</div>