<h1><%= @page.title %></h1>

<%= asciidoc(@page.content).html_safe %>

<br>

<%= link_to 'Edit', edit_universe_organization_page_path(@page, universe_id: current_universe.slug, organization_id: current_organization.slug) %> |
<%= link_to 'Back', universe_organization_pages_path(universe_id: current_universe.slug, organization_id: current_organization.slug) %>
