<% if model %>
<div class="card card-default mb-2">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col text-center">
        <%= link_to [model.universe, model.organization, model], style: "font-size: 3rem; color: #{model.universe.color}" do %>
          <span style=><%= model.name.split(' ').map{|e| e[0]}.join() %></span>
        <% end %>
      </div>
      <div class="col">
        <p><%= link_to model.name, [model.universe, model.organization, model] %></p>
        <p><%= model.hours %> Person-Hours</p>
      </div>
    </div>
  </div>
</div>
<% end %>
