<%= simple_form_for([current_universe, current_organization, timeclock], local: true) do |f| %>
  <% if timeclock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(timeclock.errors.count, "error") %> prohibited this timeclock from being saved:</h2>

      <ul>
        <% timeclock.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>

  <hr>
  <%= render partial: 'heliosystem/partials/customFormFields', locals: {form: f, app: 'timeclock', model: timeclock} %>
  <hr>
  <%= render partial: 'heliosystem/partials/taggableFormFields', locals: {form: f, model: timeclock} %>

  <%= f.button :submit, nil, class: 'btn btn-primary' %>
<% end %>
