<h1>Editing Timeclock</h1>

<%= render 'form', timeclock: @timeclock %>

<%= link_to 'Show', [current_universe, current_organization, @timeclock] %> |
<%= link_to 'Back', universe_organization_timeclocks_path(universe_id: current_universe.slug, organization_id: current_organization.slug) %>
