/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Dosis:700|Roboto:400,400i,700,700i&display=swap');

$blue:    #2c2a9d;
$indigo:  #39279c;
$purple:  #7e1894;
$pink:    #e83e8c;
$red:     #d61e37;
$orange:  #e1861f;
$yellow:  #e1b91f;
$green:   #42bf1b;
$teal:    #149077;
$cyan:    #196a8e;

$primary: $purple;

$font-family-sans-serif: 'Roboto', sans-serif;
$headings-font-family: 'Dosis', monospace;
$headings-font-weight: bold;

@import "bootstrap";

.container-fluid {
  padding-left: 6rem;
  margin-top: 1rem;
  height: 200vh;
}

.navbar-brand {
  line-height: 1;

  img {
    height: 1.66rem;
  }
}

.actionbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  width: 4rem;
  height: 100%;
  background-color: $white;

  & > a, & > button, & > .btn-group > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    background-color: $primary;
    color: white;
    font-size: 2rem;
    border: none;
    border-bottom: thin solid black;

    &:first-child {
      border-top: thin solid black;
    }

    img {
      height: 2rem;
    }
  }
}

.flash-dropdown {
  width: 40rem;

  .alert {
    margin: 0;
  }
}

.simple_form {
  margin-bottom: 1rem;
}

.account-row:nth-child(2n) {
  background-color: #ccc;
}
